@import "../../styles/media-queries";

.plp-container {
  align-items: flex-start;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 1440px;
  min-height: 85vh;

  .selector-container {
    max-width: 30%;
  }

  .products-grid-container {
    min-width: 70%;
    max-width: 70%;
  }

  @include mobile {
    align-items: center;
    flex-direction: column;

    .selector-container,
    .products-grid-container {
      max-width: 100%;
    }
  }
}
