<!--single page-->
<ng-container *ngIf="product$ | async as product; else spinner">
  <section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-6">
          <img
            class="card-img-top mb-5 mb-md-0"
            [src]="product.image"
            [alt]="product.title"
            loading="lazy"
          />
        </div>
        <div class="col-md-6">
          <div class="small mb-1">{{ product.category | titlecase }}</div>
          <h1 class="display-5 fw-bolder">{{ product.title }}</h1>
          <div class="fs-5 mb-5">
            <span>{{ product.price | currency }}</span>
          </div>
          <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
            at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi
            alias magni, accusamus eius blanditiis delectus ipsam minima ea iste
            laborum vero?
          </p>
          <div class="d-flex">
            <input
              class="form-control text-center me-3"
              id="inputQuantity"
              type="num"
              value="1"
              [(ngModel)]="quantity"
            />
            <button
              class="btn btn-outline-dark flex-shrink-0"
              type="button"
              (click)="addToCart()"
            >
              <i class="bi-cart-fill me-1"></i>
              Add to cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
