@import "../../../styles/media-queries";

.card {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  position: relative;
  width: 650px;

  .remove-container {
    position: absolute;
    top: 0;
    right: 0;
  }

  .card-img-top {
    max-width: 200px;
    padding: 1rem;
  }

  .card-body {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
