@import "../../../styles/media-queries";

.card {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  position: relative;
  width: 650px;

  @include mobile {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 300px;
  }

  .remove-container {
    position: absolute;
    top: 0;
    right: 0;

    .btn {
      padding: 0.25rem 0.5rem;
    }
  }

  .card-img-top {
    max-width: 200px;
    padding: 1rem;
  }

  .card-body {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;

    .fw-bolder {
      max-width: 400px;
    }
  }
}
