@import "../../../styles/media-queries";

.filter-container {
  margin-top: 3rem;
  width: 100%;

  .filter-title {
    text-align: center;
  }

  .filter-body {
    li {
      align-items: center;
      display: flex;
      list-style: none;
      text-transform: uppercase;
      padding: 0.5rem;
      .btn {
        cursor: pointer;
        margin-left: 1rem;
      }
    }
  }
}
