@import "../../styles/media-queries";

.card {
  height: 450px;
  margin: 0 auto;
  max-width: 320px;

  &-img-top {
    cursor: pointer;
    height: 300px;
    padding: 1rem;

    img {
      height: 100%;
      width: 100%;
    }
  }
}
