@import "../../styles/media-queries";

.main {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 1440px;

  app-cart-list {
    width: 70%;
  }

  app-resume {
    width: 30%;
  }

  @include mobile {
    flex-direction: column;

    app-cart-list {
      padding: 0 1rem;
      width: 100%;
    }

    app-resume {
      width: 100%;
    }
  }
}
